@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@100..1000&display=swap');

@media print {
    body {
        font-family: "Roboto Flex", sans-serif;
        font-size: 14px;
    }
    h1, h2, h3 {
        font-weight: 700;
    }
}
